In [5]:
from sqlalchemy import create_engine
import pandas as pd

source = create_engine('mysql+mysqlconnector://root:root123@172.20.0.2/test')

In [6]:
pd.read_sql('select now()', con = source)

                now()
0 2021-10-31 04:47:06